   body {
    background: rgba(168, 82, 215, 0.564);
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-image:
        radial-gradient(circle, rgb(0, 0, 0) 1px, transparent 1px),
        linear-gradient(45deg, #9525ab 1px, transparent 1px);

    background-position: 5px 50px, 50px 50px;
    background-size: 60px 20px;
    background-repeat: repeat;

    opacity: 0.3;
    animation: twinkle 3s linear infinite alternate;
}

@keyframes twinkle {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}